/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #a593a0; /* Pastel blue color */
    color: #333;
    padding: 0 20px;
}

/* Header and navigation bar styling */
header {
    background: #333;
    color: #8a6969;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #e28d8d;
    text-decoration: none;
    font-size: 18px;
}

/* Main content styling */
main {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section {
    background: #bcacac;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #1f3f59;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

.resume-btn {
    display: inline-block;
    background-color: #54ad70;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.resume-btn:hover {
    background-color: #936eaf;
}




